---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Sosuisha";
---

<BaseLayout pageTitle={pageTitle}>
	<p>We develop tools for knowledge creation and education.</p>
	<h2>Member</h2>
	<h3>Hidekazu Kubota</h3>
	<ul>
		<li>Ph.D. in Engineering</li>
		<li>GitHub: <a href="https://github.com/sosuisen/"
		>https://github.com/sosuisen/</a>
		</li>
		<li>LinkedIn: <a href="https://www.linkedin.com/in/hidekazu-kubota/"
		>https://www.linkedin.com/in/hidekazu-kubota/</a>
		</li>
		<li>Medium: <a href="https://medium.com/@hidekazu.kubota"
		>https://medium.com/@hidekazu.kubota</a>
		</li>
	</ul>


	<h3>Recent Awards</h3>
	<ul>
		<li>
			Won <a
				href="https://www.linkedin.com/posts/payara_the-power-up-your-jakarta-ee-with-ai-hackathon-activity-7275895257563607040-lOnn?utm_source=share&utm_medium=member_desktop"
				>Payara Hackathon – Generative AI on Jakarta EE, 2024</a>
		</li>
		<li>
			Won <a
				href="https://blog.payara.fish/jakarta-ee-media-community-challenge-winning-entries-part-4"
				>Jakarta EE Media & Community Challenge, 2024</a>
		</li>
	</ul>

</BaseLayout>
