---

---

<div>
    <a href="https://sosuisen.net/"><span id="author">(c) Hidekazu Kubota</span></a>
</div>

<style>
    #author {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
        color: #555; /* 背景色だった暗いグレーを文字色に */
        text-decoration: none;
    }
</style>
