---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>

<style>
    header {
        background-color: #ccc;
        padding: 0rem 1rem; /* 上下の余白を狭く */
    }
</style>
